.navbar {
    display: flex;
    gap: 2vw;
}

.navbar a {
    font-size: 1.2vw;
}

img {
    width: 50%;
    height: auto;
}

.container {
    width: 80%;
    min-height: 100vh;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .navbar a {
        font-size: 16px;
    }

    img {
        width: 100%;
    }

    .container {
        width: 95%;
    }
}